.dropbtn {
     position: absolute;
  top: -30px;
  width:90px;
  height: 46px;
  padding:10px;


    background-color: rgba(251,201,64,0.5);
    color: black;
 
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top:15px;
    background-color: rgba(0,0,0,1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
   
    padding: 12px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: rgba(251,201,64,1);}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color:rgba(0,0,0,1);
    color:white;

}

.dropdown:hover #btt {
    background-color:rgba(0,0,0,1);
    color:white;

}






 





 .dropdown-menu{
  position:absolute;
  left:-50px;
  
        padding: 0px;
        list-style: none;
        background: #000;
        border-radius: 0px;
    }
    .dropdown-menu li{
        display: inline-block;
        ;
    }
    .dropdown-menu li a{
      position:relative;

        display: block;
        padding: 12px 20px;
        color: white;
        text-decoration: none;
    }
    .dropdown-menu li a:hover{
        color: #000;
        background: rgba(251,201,64,1);
        width:100%;
       

    }
    .dropdown-menu li ul.dropdown{
        min-width: 125px; /* Set width of the dropdown */
      
        display: none;
        position: absolute;
        
        left: -30px;
    }
    .dropdown-menu li:hover ul.dropdown{
        display: block; /* Display the dropdown */
    }
    ul li ul.dropdown li{
        display: block;
    }
/*.wrap:hover #first{
  transform: scale(1.1);
}*/



hr{
    border: 0; 
    position:relative;
    left:-120px;
  height: 2px; 
  width:10%;
  background-image: -webkit-linear-gradient(left, #fbd87a, #fbc940, #fbd87a);
  background-image: -moz-linear-gradient(left, #fbd87a, #fbc940, #fbd87a);
  background-image: -ms-linear-gradient(left, #fbd87a, #fbc940, #fbd87a);
  background-image: -o-linear-gradient(left, #fbd87a, #fbc940, #fbd87a);
}


#list{
   
    font-size: 12px;
}
h4{
    font-size: 16px;
}
#pa{
   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.19), 
}








    
      <div class="row row-gap-medium" > 
      
      
      
          <div class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs" id="imgs"><center><img src="img/Manipal.png" style="position:relative;top:30px;"/></center></div>
             <div class="col-lg-5 col-md-5 hidden-sm  hidden-xs" >
                  <div class="row" id="first">
                
                   
                      <div class="col-lg-12 col-md-12 hidden-sm hidden-xs" >
             
                  
                      <h4> RMV Hospital</h4>
                      <address>
                            
                            12Th Cross Road, Aecs Layout, Sanjay Nagar, Bangalore, Karnataka<br/>
                            Hospital<br/>
                            Allopathy<br/>
                      </address>
                      

                       </div>


                  </div>
              </div>
              </div>