 #loc{
        position:relative;
        top:100%;
        font-size: 18px;
        left:200px;
        padding-top:85%;
        padding-left:10%;
        color:black;
    }
    #care{
        position:relative;
        top:100%;
        font-size: 18px;
        left:200px;
        padding-top:85%;
        padding-left:18%;
        color:black;

    }
    .care_small{
       position:absolute;
        top:0%;
        left:10%;
        font-size: 20px;
        padding-top:8%;
        padding-left:5%;
        color:black;
    }

        #location{
        position:relative;
        top:0%;
        left:1%;
        font-size: 20px;
        padding-top:8%;
        padding-left:8%;
        color:black;
    }

  