#c{
	position:relative;
	top:80px;}

#click_me{
background:transparent;

border: solid rgba(10, 185, 193, 0.5) 1px;
border-radius: 2px;
color:rgba(0,0,0,0.6);
-webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
 
    transition-duration:1s;


}

#click_me:hover{
background:transparent;

border: solid rgba(10, 185, 193, 0.8) 1px;
border-radius: 2px;
box-shadow:1px 2px 4px rgba(10, 185, 193, 0.3) rgba(0,0,0,0.6);


}
section{
	margin-top: 30px;
}
html,body{

  width: 100%;
	margin-bottom:35%;
}